{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <h1>Product Details</h1>
        <div class="col-sm4">
            <div class="thumbnail">

                <img src="{{MEDIA_URL}}{{product.image}}" alt="">
                <h1><b>{{product.name}}</b></h1>
                <p><h1>{{product.brand}}</h1></p>
                <p>Description:</br>
                   {{product.description}}</p>
                <p>Price: {{product.price}} €</p> 
                <p>Stock: {{product.stock}}</p>
                <p>SKU:{{product.sku}}</p>
            </div>
        </div>
    </div>
    
    <hr>
<h2>Reviews</h2>
<hr>
{% if user.is_authenticated %}
<form method="POST" action="{% url 'write_review' product.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    
    <input type="submit" value="Submit"/>
</form>
{% endif %}
<hr>
<div>
    {% for review in product.reviews.all|dictsortreversed:'created_date' %}
    
    
    <h3>{{ review.title }} - <i>{{ review.author }}</i></h3>
    <p>{{ review.content }}</p>
    {{ review.product }}
    <hr>
    
    {% endfor %}
    
</div>

    {% endblock %}
